.seat-legends {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;

  label {
    display: flex;
    align-items: center;
    gap: 0.35rem;
    font-size: 0.85rem;

    .legend-square {
      width: 0.95rem;
      height: 0.95rem;
      border-radius: 0.25rem;
      display: inline-block;
    }

    .available {
      background-color: $white;
      border: 1.5px solid $green;
    }

    .selection {
      background-color: $green;
    }

    .unavailable-female {
      background-color: $pink;
    }

    .unavailable-male {
      background-color: $blue;
    }

    .disabled {
      background-color: $light-grey;
    }
  }
}
