$white: #ffffff;
$black: #020c25;

$lighter-grey: #d9dce0;
$light-grey: #7c8ea1;
$light-grey-2: #676e82;

$blue: #154074;
$light-blue: #e2efff;
$light-blue-2: #8fb0d8;

$red: #ff383c;

$dark-green: #0a7845;
$green: #26a96c;
$light-green: #cbeadc;

$dark-yellow: #ac8900;

$pink: #ff2d55;
$light-pink: #ffb4c2;
